---
layout: reference_white
---

<div id="body-container" class="container mt-lg-5 mb-lg-5" style="margin-top:100px !important;">

    <div class="mb-3">
        <h5 class="heading">Highlights</h5>
        <div class="sub-heading">Browse our featured articles</div>
    </div>

    <div class="row cards">
        <div class="col">
            <a href="/details.cshtml">
                <div class="card overlay-card text-white">
                    <div class="card-full-img" style="background-image: url(/images/category-plants.jpg)"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/details.cshtml">
                <div class="card overlay-card text-white">
                    <div class="card-full-img" style="background-image: url(/images/category-dinosaurs.jpg)"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">Dinosaurs</h5>
                        <p class="card-text">This is a wider card</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/details.cshtml">
                <div class="card overlay-card text-white">
                    <div class="card-full-img" style="background-image: url(/images/category-aminals.jpg)"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">Animals</h5>
                        <p class="card-text">This is a wider card</p>
                    </div>
                </div>
            </a>
        </div>

    </div>



    <div class="mb-3 mt-5">
        <h5 class="heading">Animal Categories</h5>
        <div class="sub-heading">Explore by our subject categories.</div>
    </div>

    <div class="row cards">
        <div class="col">
            <a href="/category.cshtml">
                <div class="card">
                    <div class="card-img-top" alt="Invertebrates" style="background-image: url(/images/invertebrates-thumb.jpg)"></div>
                    <div class="card-body">
                        <h5 class="card-title">Invertebrates</h5>
                        <p class="card-text">1,213 Articles</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/category.cshtml">
                <div class="card">
                    <div class="card-img-top" style="background-image: url(/images/fish-thumb.jpg)" alt="Fish"></div>
                    <div class="card-body">
                        <h5 class="card-title">Fish</h5>
                        <p class="card-text">342 Articles</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/category.cshtml">
                <div class="card">
                    <div class="card-img-top" style="background-image: url(/images/amphibians-thumb.jpg)" alt="Amphibians"></div>
                    <div class="card-body">
                        <h5 class="card-title">Amphibians</h5>
                        <p class="card-text">1,411 Articles</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/category.cshtml">
                <div class="card">
                    <div class="card-img-top" style="background-image: url(/images/COZK18TU-thumb.jpg)" alt="Reptiles"></div>
                    <div class="card-body">
                        <h5 class="card-title">Reptiles</h5>
                        <p class="card-text">124 Articles</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/category.cshtml">
                <div class="card">
                    <div class="card-img-top" style="background-image: url(/images/category-aminals.jpg)" alt="Birds"></div>
                    <div class="card-body">
                        <h5 class="card-title">Birds</h5>
                        <p class="card-text">89 Articles</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/category.cshtml">
                <div class="card">
                    <div class="card-img-top" style="background-image: url(/images/NWCFLKF1-thumb.jpg)" alt="Mammals"></div>
                    <div class="card-body">
                        <h5 class="card-title">Mammals</h5>
                        <p class="card-text">89 Articles</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>



<div class="home ml-3">
    <h4>Arthropod Categories</h4>
    {% assign sorted_pages = site.pages | sort:"title" %}
    {% for page in sorted_pages %}
    {% if page.type == "Arthropod" %}
    <div><a href="{{ page.url }}">{{ page.title }}</a></div>
    {% endif %}
    {% endfor %}
</div>

<div class="home ml-3">
    <h4>Mammal Categories</h4>
    {% assign sorted_pages = site.pages | sort:"title" %}
    {% for page in sorted_pages %}
    {% if page.type == "Mammal" and page.layout == "animal_category"  %}
        {% assign subcategory = page.common_name %}
        <div><a href="{{ page.url }}">{{ page.title }}</a> - {{ subcategory }}</div>

            {% for page in sorted_pages %}
                {% if page.type == "Mammal" and page.layout == "animal" and page.subtype ==  subcategory %}
                    <div class="ml-5"><a href="{{ page.url }}">{{ page.title }}</a>   <a class="ml-2" href="https://localhost:44305/Editor/Edit?file={{ page.path }}">Edit</a>   </div>
                {% endif %}
            {% endfor %}

    {% endif %}
    {% endfor %}
</div>

<div class="home ml-3">
    <h4>Reptile Categories</h4>
    {% assign sorted_pages = site.pages | sort:"title" %}
    {% for page in sorted_pages %}
    {% if page.type == "Reptile" %}
    <div><a href="{{ page.url }}">{{ page.title }}</a></div>
    {% endif %}
    {% endfor %}
</div>

<div class="home ml-3">
    <h4>Invertebrates Categories</h4>
    {% assign sorted_pages = site.pages | sort:"title" %}
    {% for page in sorted_pages %}
    {% if page.type == "Invertebrate" %}
    <div><a href="{{ page.url }}">{{ page.title }}</a></div>
    {% endif %}
    {% endfor %}
</div>

<div class="home ml-3">
    <h4>Amphibian Categories</h4>
    {% assign sorted_pages = site.pages | sort:"title" %}
    {% for page in sorted_pages %}
    {% if page.type == "Amphibian" %}
    <div><a href="{{ page.url }}">{{ page.title }}</a></div>
    {% endif %}
    {% endfor %}
</div>

<div class="home ml-3">
    <h4>Bird Categories</h4>
    {% assign sorted_pages = site.pages | sort:"title" %}
    {% for page in sorted_pages %}
    {% if page.type == "Bird" %}
    <div><a href="{{ page.url }}">{{ page.title }}</a></div>
    {% endif %}
    {% endfor %}
</div>


<div class="home ml-3">
    <h4>Fish Categories</h4>
    {% assign sorted_pages = site.pages | sort:"title" %}
    {% for page in sorted_pages %}
    {% if page.type == "Fish" %}
    <div><a href="{{ page.url }}">{{ page.title }}</a></div>
    {% endif %}
    {% endfor %}
</div>